---
import ImageGrid from "./_index/ImageGrid"
import Layout from "~/layouts/Layout.astro"
import UsernameInput from "~/pages/_index/UsernameInput"
---

    <Layout title="Wulfre's Website">
        <main class="flex flex-col gap-13 p-5">
            <UsernameInput client:load />
            <ImageGrid client:load />
        </main>
    </Layout>
