---
import { cn } from "~/utils/style"

const variants = {
    primary: "bg-highlighter-blue-bg c-highlighter-blue hover:c-highlighter-blue-muted",
}

type Props = {
    href?: string
    variant?: keyof typeof variants
}

const { href, variant = "primary" } = Astro.props
const classAttribute = cn("px-2 py-1 underline transition", variants[variant])
---

{
    href === undefined
        ? <button class={classAttribute}><slot /></button>
        : <a href={href} class={classAttribute}><slot /></a>
}
