---
import { ViewTransitions } from "astro:transitions"
import Toaster from "~/components/Toaster"

type Props = {
    title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{title}</title>
        <ViewTransitions />
    </head>
    <body class="m-x-auto max-w-1200px min-h-100dvh flex flex-col justify-center bg-paper-bg text-5 font-sans c-paper">
        <slot />
        <Toaster client:only />
    </body>
</html>
