---
type Props = {
    title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{title}</title>
    </head>
    <body class="grid m-x-auto max-w-1200px min-h-100dvh place-items-center bg-paper-bg font-sans c-paper">
        <slot />
    </body>
</html>
