---
import "~/assets/global.css"

type Props = {
	title?: string
}

const { props } = Astro
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<link rel="icon" href="/favicon.svg" type="image/svg+xml" />

		<link rel="preconnect" href="https://api.fontshare.com/" />
		<link
			rel="stylesheet"
			href="https://api.fontshare.com/v2/css?f[]=author@1&f[]=azeret-mono@1&display=swap"
		/>

		<title>{props.title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
